body {
  font-family: Arial, sans-serif;
  background-color: orangered;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.weather-container {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  padding: 8px;
  margin: 8px;
}

.search-button {
  padding: 8px;
  cursor: pointer;
  background-color: rgb(243, 159, 3);
  color: #fff;
  border: none;
  border-radius: 4px;
}

.weather-info {
  margin-top: 20px;
}
